.login,
.cart,
.search,
.nav-login,
.nav__toggle {
    position: relative;
}

.hover-text,
.hover-text2 {
    display: none;
    position: absolute;
    top: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: white;
    font-size: 30px;
    white-space: nowrap;
}

.nav__toggle:hover .hover-text2,
.login:hover .hover-text,
.search:hover .hover-text,
.cart:hover .hover-text,
.nav-login:hover .hover-text {
    display: block;
}

.div__item,
.nav__item,
#main_brand,
#main_explain,
.swiper-name,
.banner-content,
.event-btn,
.pur-name,
.pur-product-info,
.pur-product,
.check-name,
.check-btn {
    transition: font-size 0.3s ease; /* 글자 크기 변경을 스무스하게 적용 */
}

.swiper-name:hover,
.banner-content:hover,
.pur-name:hover {
    font-size: 70px;
}

.event-btn:hover,
.pur-product-info:hover,
.pur-product:hover,
.check-name:hover,
.check-btn:hover {
    font-size: 40px;
}

@media screen and (max-width: 767px) {
    .hover-text {
        left: 2px;
    }

    .hover-text2 {
        right: 2px;
    }
    
    .div__item:hover {
        font-size: 30px; /* 호버 시 글자 크기 변경 */
    }

    #main_brand:hover {
        font-size: 15vw; /* 호버 시 글자 크기 변경 */
    }
    
    #main_explain:hover {
        font-size: 4vw;
    }
}
  
@media screen and (min-width: 768px) {
    .hover-text {
        right: 2px;
    }
    
    .nav__item:hover {
        font-size: 30px; /* 호버 시 글자 크기 변경 */
    }

    #main_brand:hover {
        font-size: 12vw; /* 호버 시 글자 크기 변경 */
    }
    
    #main_explain:hover {
        font-size: 3vw;
    }
}