 /* Footer */
 *{
  margin:0;
  padding: 0;
  box-sizing:border-box;
 }
footer{
  width: 100%; 

  background-color: #F0F5F9 ;
  color: black;
}
 
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 3.5rem; */
  padding: 60px;
  
}
.list-item{
  line-height:normal;
  color: black; 
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  }
/* .footer-Copyright {
  display:flex;
  margin-top: 20px;
  flex-wrap: nowrap;
  justify-content: space-between;
} */
.footer-snsLogo{
display:flex;
margin-top: 20px;
justify-content:space-evenly;
align-items: center;
gap: 30px;
}
.footer-sns{
  width: 50px;
  gap: 30px;
}
.footer-sns:hover{
  fill:aqua;
}


/* 768px 이하일때 */
@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
    font-size: 1.5rem;
  }
  .footer-snsLogo{
    margin-top: 15px;
    justify-content:space-around;
    }
.footer_sns{
  width: 30px;
  gap: 10px;
  }
.list-item{
    font-size: 10px; 
    }
.footer {
  gap: 2rem;
  padding: 30px;
  justify-content: space-around;  
    }
}


