/* header */

@media screen and (max-width: 767px) {

  .header {
      background-color: #1E2022;
      width: 100%;
      height: 75px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9998;
  }

  .nav-login {
      padding-left: 20px;
    }

  .nav__list {
      display: none; 
      margin-bottom: 0;
  }

  .nav__div {
      display: none;
      position: fixed;
      z-index: 9998;
      top: 75px;
      width: 100%;
  }

  .div__item {
      background-color: #1E2022;
      text-align: center;
      height: 75px;
      line-height: 75px;
      font-size: 20px;
  }

  .div__item>a {
      color: #F0F5F9;
      text-decoration: none;
      font-family: "Black Han Sans", sans-serif;
      font-weight: 400;
  }
  
  .nav__toggle {
      padding-right: 20px;
  }

  .menuBarIcons {
      display: none;
  }
}

@media screen and (min-width: 768px) {

  .header {
      background-color: #1E2022;
      width: 100%;
      height: 90px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9998;
  }

  .nav__list {
      list-style: none;
      display: flex;
      margin-bottom: 0;
  }

  .nav__item {
      padding-right: 20px;
      font-size: 20px;
  }
  
  .nav__item>a {
      color: #d2d0db;
      text-decoration: none;
      font-family: "Black Han Sans", sans-serif;
      font-weight: 400;
  }

  .nav__toggle {
      display: none;
  }

  .nav__div {
      display: none;
  }

  .nav-login {
    display: none;
  }

  .no_div {
    display: none;
  }

  .menuBarIcons {
      display: flex;
  }

  .button-menu-icon {
      padding-right: 20px;
  }

  .badge {
    display: none;
  }
}
button.button{
    color: #fff;
  }
.nav__actions{
    padding:0;
    margin: 0;
    border: none;
}