/* main 브랜딩 이미지 */

.containermain {
    position: relative;
}

#main {
    position: relative;
    width: 100%;
    height: auto;

    animation: main_back 2s 1s forwards;
}

#main_brand {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    color: white;
    font-size: 8vw;
    font-family: "Gasoek One", sans-serif;
    font-weight: 400;
}

#main_explain {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -70%);
    color: white;
    font-size: 2vw;
}

@keyframes main_back {
    0% {
        filter: brightness(1);
    }
    100% {
        filter: brightness(0.3);
    }
}

/* badge */

.badge {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: blanchedalmond;
    position: relative;
}

.bi {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.scroll-side {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(207, 207, 207);
    opacity: 0.5;
    position: relative;
}

/* 배너 */

/* body {
    background-attachment: fixed;
    background-image: url(https://cdn.imweb.me/thumbnail/20230126/97f0ad1bebd44.jpg);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
} */

.banner {
    width: 100%;
    max-width: 1240px;
    padding: 0;
    margin: 0 auto;
    background-color: transparent;
}

.banner .item {
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    position: relative;
}

.item {
    height: 60px;
}

.banner-content {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: right;
}

.event-btn {
    position: absolute;
    right: 2vw;
}

/* 주문페이지 */

.pur-product {
    width:100%; /* 반응형 너비 설정 */
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.pur-product-info {
    text-align: center;
}

.checkout {
    width: 100%;
    height: 50%;
    border: 1px solid #ccc;
    padding: 20px;
}
.check-group {
    margin-bottom: 20px;
}
.check-group label {
    display: block;
    font-weight: bold;
}
.check-group input[type="text"],
.check-group input[type="email"],
.check-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.check-group select {
    height: 40px;
}
.check-group input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .container {
        display: flex;
        margin: 20px auto;
    }

    .purchase {
        width: 100vw;
        padding: 0 20px;
    }

    .pur-product img {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 100%;
    }

    .purchase {
        width: 100%;
        padding: 0 20px;
    }

    .pur-product-form {
        display: flex;
    }

    .pur-product img {
        max-width: 100%;
        height: auto;
    }

    .pur-product:not(:nth-child(2)) {
        margin-right: 10px;
    }
}