/* main 브랜딩 이미지 */

.containermain {
    position: relative;
}

#main {
    position: relative;
    width: 100%;
    height: auto;

    animation: main_back 2s 1s forwards;
}

#main_brand {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    color: white;
    font-size: 8vw;
    font-family: "Gasoek One", sans-serif;
    font-weight: 400;
}

#main_explain {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -70%);
    color: white;
    font-size: 2vw;
}

@keyframes main_back {
    0% {
        filter: brightness(1);
    }
    100% {
        filter: brightness(0.3);
    }
}

/* badge */

.badge {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: blanchedalmond;
    position: relative;
}

.bi {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.scroll-side {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(207, 207, 207);
    opacity: 0.5;
    position: relative;
}

/* 배너 */

/* body {
    background-attachment: fixed;
    background-image: url(https://cdn.imweb.me/thumbnail/20230126/97f0ad1bebd44.jpg);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
} */

.banner {
    width: 100%;
    max-width: 1240px;
    padding: 0;
    margin: 0 auto;
    background-color: transparent;
}

.banner .item {
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    position: relative;
}

.item {
    height: 60px;
}

.banner-content {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: right;
}

.event-btn {
    position: absolute;
    right: 2vw;
}