<!-- Footer component -->
    <footer>
        <div class="container grid footer__sections">
        <!-- collapsible.html   - 아래 div를 section으로 바꿈-->
            <!-- 1번째 -->
            <section class="footer__section footer__Copyright">
                    <!-- list.html -->
                        <span class="list__item">브랜드 : 스틸스</span ><br/>
                        <span class="list__item">이메일 : steels12@gmail.com</span ><br/>
                        <span class="list__item">전화번호: 010-0000-0000</span><br/>
                        <span class="list__item">주소 : 서울 마포구 숭문4길 6 스프레틱스 염리 사옥 1층</span><br/>
                        <span class="list__item"> ©Copyright 2024. Steels. All Rights Reserved.</span >           
            </section>     
        <section class="footer__section footer__snsLogo collapsible collapsible--expanded">
            <img id="insta" src="img_logo/instaLogo.png" alt="InstagramLogo" >
            <img id="fb" src="img_logo/youtube.png" alt="YoutubeLogo">
            <img id="pint" src="img_logo/pinterest.png" alt="PinterestLogo">
        </section>
    </div>
</footer>